CONFIG_ARM=y
CONFIG_TARGET_MX23_WIRENBOARD=y
# CONFIG_SYS_MALLOC_F is not set
CONFIG_SPL=y
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_DM=y
CONFIG_SYS_EXTRA_OPTIONS="SPL_MXS_DDR_LOWPWR SPL_MXS_DDR_CL25"

